p{
  font-family: 'Roboto', 'Arial', 'sans-sheriff';
  margin-top: 0px;
  margin-bottom: 0px;
}
body{
  margin: 0px;
  padding-top: 80px;
  padding-left: 96px;
  padding-right: 24px;
  height: 3000px;
  background-color: rgb(248,248,248);
}
a{
  color: black;
  text-decoration: none;
}